body {
  background-color: white;
  font-family: helvetica;
}

.background{
	background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
	background-size: cover;
	background-position: bottom center;
}

.title{
	font-size: 70px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.navigation ul{
	text-align: center;
	padding: 0;
	line-height: 35px;
}

.navigation a{
	font-size: 18px;
	color: white;
}

.how ul{
	text-align: center;
	padding: 0;
}

.how li{
	font-size: 23px;
	font-weight: bold;
}

.how li.process{
	font-size: 32px;
}

.york{
	font-size: 23px;
	font-weight: bold;
	color: white;
	text-align: center;
	background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
}

.work ul{
	text-align: center;
	padding: 0;
}

.work li{
	font-size: 23px;
	font-weight: bold;
}

p{
	font-size: 14px;
}

.return{
	color: white;
	background-color: dimgray;
}
.copy{
	font-size: 11px;
}

.return a{
	color: white
}